/********************************
GENERAL
********************************/

body {
  font-family: times, sans-serif;
  background-color: #292828;
  color: #A8A8A8;
}

#wrapper {
  width: 95%;
  margin: -5% 0 0 2.55%;
  padding: 0;
  background-color: #292828;
}

a {
  text-decoration: none;
}


img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
  
}

pre, xmp{
  background-color: #DBB846;
}

/********************************
HEADING
********************************/

#header {
  float: left;
  margin: 5% 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family:'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal; 
}
/********************************
NAVIGATIOM
********************************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}


nav li{
  display:inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/********************************
footer
********************************/

footer {
  font-size: 0.75em;
  text-align:center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin:0 5px;
}

/********************************
PAGE PORTFOLIO - BLOG
********************************/
#blog_wrapper{
  width: 60%;
  float: left;
}

.blog {
  float: left;
  margin-top: 20px;
  width: 100%;
  font-size: 1em;
  color: #fff;
  border: 2px solid #DBB846;
  border-bottom: #4B4942;
  background-color: #8F9091; 
}

.blog p{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.blog h4{
  margin-left: -2px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 2%;
  height: 30px;
  width: 98%;
  background-color: #4B4942;
  border: 2px solid #4B4942;
  border-top: 2px solid #DBB846;
  text-align: block;
}

/********************************
PAGE PORTFOLIO - PROJECTS
********************************/
#gallery_wrapper{
  float: right;
  width: 40%;
  }

#gallery {
  margin-top: 20px;
  padding-left: 7.5%;
  list-style: none;
  overflow: hidden;
}

#gallery img {
  border: 2px solid #DBB846;
  margin: 0;
  width: 99%;
  background-color: #4B4942;
  color: #fff;
}

#gallery p {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 20px;
  padding: 10px 15px 5px 15px;
  height: 20px;
  width: 100%;
  background-color: #4B4942;
  color: #fff;
}

/********************************
PAGE ABOUT
********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/********************************
PAGE: CONTACT
********************************/

.contact-info{
  list-style:none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display:block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/********************************
COLORS
********************************/
/*  green header */
header {
  background: #4B4942;
  border-color: #DBB846;
}

/*  nav background on mobile */
nav {
  background: #F1CE40;
 }

/*  logo text */
h1, h2 {
  color: #ffffff;
}

/*  links */
a {
  color: #5A564E;
}

/*  nav link */
nav a, nav a:visited {
  color: #fff;
}

/*  selected nav link */
nav a.selected, nav a:hover {
  color: #929292;
}