<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Blog</h2>
                    <h3 class="section-subheading text-muted">Read all the things!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">Question Writing</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Quick Guide to Question Writing: What the Who?

                                    In any industry it is important to know how to ask for help. In this day in age we have a limitless amount of information at our fingertips, but every once in a while we will have to ask for help. This may be in person, but there are hundreds of sites that allow you to post a question, and users can respond with their opinions. I wanted to give you a quick guide on how to write a good question.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">Swiftly Learning Swift</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I have discovered Swift and I love it! Incase you haven’t heard of it Swift is a new programming language created by apple to work side by side with Objective-C. Swift is a modern Language that has taken a deep look at how programming works, has kept the best, and removed a lot of the outdated practices that older languages suffer from.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">Why is JavaScript popular in web development?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">JavaScript has been around for a while, but it has picked up traction over the last couple of years. It is beginning to fill the gap between strong web based languages (ie. Ruby, Python, etc.) and the weaker or non-existent basic languages (like BASIC).  Google created Chrome with a Document Object Model (DOM) in which you can run JavaScript code instantly through the browser and Ryan Dahl created Node.js, which allows you to run JavaScript through the terminal of any computer. This has lead to many programmers flocking back to JavaScript.  Now that there are may options and resources out there for beginner programmers to succeed.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2014</h4>
                                    <h4 class="subheading">SQL Inject! Someone Hacked my Facebook?!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We’ve been working with SQL for the past week becoming familiar with all the ins and outs of how a database language works.  So naturally I thought this post would be focused on one of the tricks that we learned during our studies.  You can imagine my surprise that it has actually taught me how to become a mini hacker through SQL commands. But, I’m getting ahead of myself, let me explain.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>More
                                    <br>To
                                    <br>Come!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>