body{
	background-image: url("../imgs/gaga3.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

#header{
	height:7em;
	width:95%;
/*	border: 1px solid red;*/
	margin: 2% 2.5%
}

#left_nav{
	height:25em;
	width:15%;
/*	border: 1px solid red;*/
	margin-left: 2.5%;
	float: left;
}

#center_view{
	height:30em;
	width:59%;
	border: 3px solid black;
	float: left;
	margin-left: 2.5%;
	background-color: black;
}

#right_twitter{
	height:31em;
	width:15%;
/*	border: 1px solid red;*/
	float: left;
	margin: auto 2.5%;

}

h1{
	font-family: 'Oswald', sans-serif;
	font-size: 5em;
	text-align: center;
	margin: 0;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	margin: 0;
}

h3{
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	color: white;
}
p{
	font-family: 'Lato', sans-serif;
	color: white;
}

#bio{
	display:none;
	font-size: 1.1em;
	padding: 0 2.5%;
	height:30em;
}

#music{
	display:none;
	font-size: 1.1em;
	padding: 1.25% 2.5%;
	background:black;
	height:25.75em;
}

#video{
	display:none;
	font-size: 1.1em;
	padding: 1.25% 2.5%;
	background:black;
	/*background:rgba(0,0,0,0.6);*/
	height:25.75em;
}

#nav_list{
	margin: 0;
}

#nav_list li{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin-left: -23px;
	width: 100%;
	display: inline-block;
	float: left;
	border: 3px solid black;
	background-color: white;
	color: white;
	margin-bottom: 10px;
	transition: background-color .5s;
}

#nav_list :hover{
	transition: background-color .5s;
	color: white;
	background-color: black;
}

#nav_list :visited{
	color: black;
}

#footer_icons{
	text-align: center;
	width: 90%;
	padding:0 5%;
	margin: 0;
	display: inline-block;
	float: left;
}

#footer_icons li{
	display: inline-block;
	float: left;
	width: 25%;
}
#footer_icons img{
	width:100%;
}

li, a{
	text-decoration: none;
}

#left_nav a{
	color: black;
}

.twitter-timeline{
	height: 30.4em;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    position: relative;
		height: 30em;
}

.owl-theme .owl-controls{
	margin-top: -20;
}

#music iframe{
    height: 100%;
}

#video iframe{
    height: 100%;
}