body{
	font-family: 'Jura', sans-serif;
	font-weight: 700;
	margin-bottom: 10%;
	background-color: #EEE;
}

p{
	font-size: 1.5em;
  color: #FC591F;
  margin: 7px 0 0 10px;
}

.logo{
	background-color: #FC591F;
}

img{
	width:100%;
	border-radius: 10px;
}
.card{
	border: 2px solid #EEE;
	background-color: #FFF;
}

.me{
  padding: 20%;
  border: 2px solid #FC591F;
  border-radius: 100%;
  color: #FC591F;
}
i:hover{
  color: #000;
}
.share, .upvote, .fa-comment-o{
 	padding: 0;
  border: none;
  border-radius: 0;
  color: #FC591F;
  font-size: 3em;
}

.shareicons{
	display: none;
}

.upvote{
  padding: 0;
}

h3{
	margin: 9px 0 0 0;
}

.vid-container{
	padding:5% 0;
}
.card-btm{
	margin: 2.5% 0;
}

#comment{
	width:100%;
}

.comment-logo{
	background-color: #FC591F;
	text-align: center;
	margin:0;
}

.social-block{
	border: 3px solid #FC591F;
}
.curator-pic{
	margin-top: 8%;
	border: 6px solid #FC591F;
	border-radius: 100%;
}
.curator-card .col-lg-9{
	margin-top: 4%;
}
/*********************/
/*   Small Devices   */
/*********************/

@media only screen and (max-width: 570px) {
    iframe{
    	height: 25em;
    }

    .curator-card{
    display: none;
    }
}